{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "Omise API",
    "description": "Omise API"
  },
  "servers": [
    {
      "url": "https://api.omise.co",
      "description": "api"
    },
    {
      "url": "https://vault.omise.co",
      "description": "vault"
    }
  ],
  "paths": {
    "/accounts/{account}/{id}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/account"
                }
              }
            }
          }
        }
      }
    },
    "/charges": {
      "get": {
        "tags": [
          "Charges"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Charge",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/list"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Charges"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "integer"
                  }
                },
                "required": [
                  "amount"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Charge",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/charge"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Charges"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string"
                  }
                },
                "required": [
                  "currency"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Charge",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/charge"
                }
              }
            }
          }
        }
      }
    },
    "/charges/{id}": {
      "get": {
        "tags": [
          "Charges"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Charge",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/charge"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "charge": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "default": "charge",
            "pattern": "charge"
          },
          "amount": {
            "type": "integer"
          },
          "currency": {
            "type": "string"
          }
        }
      },
      "list": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "default": "list",
            "pattern": "list"
          },
          "data": {
            "type": "array",
            "items": {}
          }
        }
      }
    }
  }
}